<nav class="flex justify-center items-center border-b border-zinc-100 h-16">
  <ul class="flex *:font-semibold *:px-4 *:py-2 *:cursor-pointer">
    <li><a href="/template/">Home</a></li>
    <li><a href="/template/about">About</a></li>
    <li><a href="/template/services">Services</a></li>
    <li><a href="/template/contact">Contact</a></li>
  </ul>
</nav>
